html,
body {
    height: 100%;
    align-items: center;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
    cursor: url("https://raw.githubusercontent.com/greeeentea/greeeentea.github.io/main/images/sun.png"),auto;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ti {
    text-align: center;
    color: #C5FF00;
    font-size: 350px;
    font-weight: bold;
    letter-spacing: 40px;
    line-height: 1;
}

.links {
    font-size: 30px;
    color: #E1F700;
    letter-spacing: -3px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}
